body{background-color: rgb(27, 27, 27);}
header{margin-left :30%; margin-right: 30%; width: 100%;padding-top: 0.5cm;padding-bottom: 1cm; }
a.main{ color: white;font-size: 30px;text-shadow:  0px 0px 8px skyblue; font-weight: bold; font-family:fantasy;}
ul{list-style: none;}
li{display: inline-block; }
a{text-decoration: none;}
a.lis{ color:aliceblue}